.dismissBtn {
           
            
        a {
            //  display: block;
             display: flex;
             justify-content: center;
             align-items: center;
             margin: 0.5rem;
            background-color: black;
            border-radius: 5px;
            font-size: 3rem;
            padding: 0.5rem;
            height: 3rem;
            width: 3.5rem;
            // background-color: red;
            color: red;
            // display:inline-block;
        }

}